/* Base */
html {
  overflow-x: hidden; }

body {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  }
  

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

body:after {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
   }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    background: #9c2c2c;
    border-color: #9c2c2c;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #000;
      border-color: #000;
      color: #fff; }
    .btn.btn-primary.btn-black--hover:hover {
      background: #666666;
      color: #fff; }


.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

   
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #9c2c2c;
      display: inline-block;
      padding: 5px 20px; }
    .site-navbar .site-navigation .site-menu a {
     
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 30px 20px;
        color: #000;
        display: inline-block;
         }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #9c2c2c; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.1); }
  .site-blocks-cover.overflow-hidden {
    overflow: hidden; }
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%; }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(100vh);
    min-height: 600px; }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh); }
  @media (max-width: 991.98px) {
    .site-blocks-cover .intro-text {
      margin-top: 30%; } }
  .site-blocks-cover h1 {
    font-size: 4rem;
    color: #000;
    font-weight: 900;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; } }
  .site-blocks-cover .cover-img {
    border: 20px solid #fff;
    -webkit-box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .site-blocks-cover .cover-img {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg); } }
  .site-blocks-cover .cover-img2 {
    position: absolute;
    bottom: -100px;
    left: -100px;
    max-width: 300px;
    border: 20px solid #fff;
    -webkit-box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .site-blocks-cover .cover-img2 {
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg); } }
  .site-blocks-cover p {
    color: #999999;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300; }
  .site-blocks-cover .desc {
    font-size: 1.4rem;
    font-weight: 300; }
    .site-blocks-cover .desc a {
      color: rgba(255, 255, 255, 0.5);
      border-bottom: dotted 1px #fff; }
      .site-blocks-cover .desc a:hover {
        color: #fff; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }






